<div class="flex flex-col space-y-2">
  <div class='bg-white shadow rounded-md p-2 flex flex-col space-y-1'>
    <div class='flex flex-col lg:flex-row lg:space-x-2'>
      <div class='font-bold'><%= t('.created_at') %>:</div>
      <div class='text-gray-700'><%= l(Time.zone.now.to_date, format: :default) %></div>
    </div>
    <div class='flex flex-col lg:flex-row lg:space-x-2'>
      <div class='font-bold'><%= t('.created_by') %>:</div>
      <div class='text-gray-700'><%= @presence.user.person.fullname %></div>
    </div>
    <div class='flex flex-col lg:flex-row lg:space-x-2'>
      <div class='font-bold'><%= t('.level') %>:</div>
      <div class='text-gray-700'><%= t("common.#{@presence.level.name}") %></div>
    </div>
  </div>
  <%= render 'form', presence: @presence, people: @people %>
</div>
