<%= form_for person, remote: true do |f| %>
  <div class='flex flex-col space-y-4'>
    <div class='flex flex-col space-y-2 items-stretch'>
      <div>
        <%= f.label :christain_name %>
      </div>
      <%= f.text_field :christain_name, class: 'text-form', autocomplete: 'off' %>
    </div>
    <div class='flex flex-col space-y-2 items-stretch'>
      <div>
        <%= f.label :fullname, class: 'required' %>
      </div>
      <%= f.text_field :fullname, class: 'text-form', autocomplete: 'off' %>
    </div>
    <div class='flex flex-row items-center space-x-4'>
      <div class='flex flex-row items-center space-x-2'>
        <%= f.radio_button :gender, 'male' %>
        <%= f.label :gender, t('common.male'), value: 'male' %>
      </div>
      <div class='flex flex-row items-center space-x-2'>
        <%= f.radio_button :gender, 'female' %>
        <%= f.label :gender, t('common.female'), value: 'female' %>
      </div>
    </div>
    <div class='flex flex-col space-y-2 items-stretch'>
      <div>
        <%= f.label :phone %>
      </div>
      <%= f.text_field :phone, class: 'text-form', autocomplete: 'off' %>
    </div>
    <div class='flex-col space-y-2 items-stretch <%= @person.level_id ? "hidden" : "flex" %>'>
      <div>
        <%= f.label :level_id %>
      </div>
      <%= f.select :level_id, Level.all.collect { |l| [t("common.#{l.name}"), l.id] }, { include_blank: true }, { class: 'text-form' } %>
    </div>
    <div class='flex flex-col space-y-2 items-stretch'>
      <div>
        <%= f.label :birthday %>
      </div>
      <%= f.text_field :birthday, class: 'text-form', data: { controller: 'flatpicker' } %>
    </div>
    <div class='flex flex-col space-y-2 items-stretch'>
      <div>
        <%= f.label :feastday %>
      </div>
      <%= f.text_field :feastday, class: 'text-form', data: { controller: 'flatpicker', 'flatpicker-date-format-value' => 'd/m', 'flatpicker-year-disabled-value' => true } %>
    </div>
    <div class='flex flex-row items-center space-x-3'>
      <%= f.button t('common.actions.submit'), class: 'rounded-md py-2 px-4 bg-blue-500 inline-flex justify-center items-center space-x-2 text-white cursor-pointer', data: { 'disable_with' => "<div class='animate-spin border-t-2 rounded-full border-gray-100 w-5 h-5'></div><div>Xin chờ!</div>".html_safe } %>
      <%= link_to 'Quay về', root_path, class: 'rounded-md py-2 px-4 bg-gray-200' %>
    </div>
  </div>
<% end %>
