<div class='absolute top-0 left-0 h-full w-full grid place-items-center'>
  <div class='text-gray-800 font-bold flex flex-col space-y-2 items-center'>
    <div class='lg:text-3xl text-md'><%= t('common.welcome') %></div>
    <div class='text-sm text-center lg:text-lg'>
      <%= t('common.today_is', date: l(Time.zone.now.to_date, format: :long)) %>
      <div class='font-mono'>
        <%= @catholic_today.join(', ') %>
      </div>
    </div>
    <div class='border p-3 border-gray-300 rounded-md text-center text-2xl'>
      <div class='font-bold'><%= @feast_str %></div>
      <div class='font-thin mb-3'>
        <%= l @day, format: :default %>
      </div>
      <div></div>
      <div class='flex flex-col space-y-2 font-light'>
        <% @next_feasts.values.first.each do |person| %>
          <div><span class='font-bold'><%= person.fullname %></span></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
