<div class="w-full rounded-md p-5 bg-white">
  <%= form_for @person, url: managers_person_path(id: @person.id) do |f| %>
    <div class='flex flex-col space-y-4'>
      <div class='flex flex-col lg:items-center lg:flex-row space-y-2 lg:space-y-0 lg:space-x-2 items-stretch'>
        <div class='flex-none lg:w-1/6'>
          <%= f.label :christain_name %>
        </div>
        <%= f.text_field :christain_name, class: 'w-full flex-auto rounded-md focus:ring-0 border border-gray-300 focus:border-gray-700', autocomplete: 'off' %>
      </div>
      <div class='flex flex-col lg:items-center lg:flex-row space-y-2 lg:space-y-0 lg:space-x-2 items-stretch'>
        <div class='flex-none lg:w-1/6'>
          <%= f.label :fullname %> <span class="text-red-500">*</span>
        </div>
        <%= f.text_field :fullname, class: 'w-full flex-auto rounded-md focus:ring-0 border border-gray-300 focus:border-gray-700', autocomplete: 'off' %>
      </div>
      <div class='flex flex-col lg:flex-row items-stretch lg:space-x-2'>
        <div class='flex-none lg:w-1/6'></div>
        <div class='flex-auto flex flex-row items-center space-x-4'>
          <div class='flex flex-row items-center space-x-2'>
            <%= f.radio_button :gender, 'male' %>
            <%= f.label :gender, t('common.male'), value: 'male' %>
          </div>
          <div class='flex flex-row items-center space-x-2'>
            <%= f.radio_button :gender, 'female' %>
            <%= f.label :gender, t('common.female'), value: 'female' %>
          </div>
        </div>
      </div>
      <div class='flex flex-col lg:items-center lg:flex-row space-y-2 lg:space-y-0 lg:space-x-2 items-stretch'>
        <div class='flex-none lg:w-1/6'>
          <%= f.label :phone %>
        </div>
        <%= f.text_field :phone, class: 'w-full rounded-md focus:ring-0 border border-gray-300 focus:border-gray-700', autocomplete: 'off' %>
      </div>
      <div class='flex flex-col lg:items-center lg:flex-row space-y-2 lg:space-y-0 lg:space-x-2 items-stretch'>
        <div class='flex-none lg:w-1/6'>
          <%= f.label :birthday %>
        </div>
        <%= f.date_field :birthday, class: 'w-full rounded-md focus:ring-0 border border-gray-300 focus:border-gray-700' %>
      </div>
      <div class='flex flex-col lg:items-center lg:flex-row space-y-2 lg:space-y-0 lg:space-x-2 items-stretch'>
        <div class='flex-none lg:w-1/6'>
          <%= f.label :feastday %>
        </div>
        <%= f.date_field :feastday, class: 'w-full rounded-md focus:ring-0 border border-gray-300 focus:border-gray-700' %>
      </div>
      <div class='flex flex-col lg:items-start lg:flex-row space-y-2 lg:space-y-0 lg:space-x-2 items-stretch'>
        <div class='flex-none lg:w-1/6'>
          <%= f.label :address %>
        </div>
        <%= f.text_area :address, class: 'w-full rounded-md focus:ring-0 border border-gray-300 focus:border-gray-700', placeholder: t('common.address_placeholder') %>
      </div>
      <div class='flex flex-col lg:flex-row space-y-2 lg:space-y-0 lg:space-x-2'>
        <div class='flex-none lg:w-1/6'></div>
        <div class='flex-auto flex flex-col lg:flex-row space-y-2 lg:space-y-0 lg:space-x-2'>
          <%= f.button t('common.actions.submit'), class: 'rounded-md py-2 lg:px-4 bg-red-700 flex justify-center items-center space-x-2 text-white cursor-pointer', data: { 'disable_with' => "<div class='animate-spin border-t-2 rounded-full border-gray-100 w-5 h-5'></div><div>Xin chờ!</div>".html_safe } %>
          <%= link_to t('common.actions.cancel'), managers_person_path(id: @person), class: 'rounded-md py-2 lg:px-4 bg-gray-200 text-center' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
