<div class='flex flex-col-reverse md:flex-row space-y-reverse space-y-2 space-x-0 md:space-y-0 md:space-x-2'>
  <div class='w-full md:w-8/12 flex-none'>
    <div class='shadow bg-white rounded-md py-3 px-4 flex flex-col space-y-2 items-start'>
      <% if @people.any? %>
        <div class='py-1 px-3 border border-gray-400 rounded-md'><%= t('.count', count: @people.length) %></div>
        <div class='w-full'>
          <%= render @people %>
        </div>
      <% else %>
        <div class='grid place-items-center w-full'>
          <%= t('common.empty') %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='w-full md:w-4/12 flex-auto flex flex-col space-y-2'>
    <% if @presence %>
      <%= link_to t('.update_people_presence'), edit_managers_people_presence_path(id: @presence), class: 'py-2 bg-red-700 text-white rounded-md text-center' %>
    <% else %>
      <%= link_to t('.create_people_presence'), new_managers_people_presence_path(level_id: @selected_level), class: 'py-2 bg-red-700 text-white rounded-md text-center' %>
    <% end %>

    <%= link_to t('.score_table'), managers_score_path(id: @selected_level.active_score.id), class: 'py-2 border border-red-700 text-red-700 rounded-md text-center hover:bg-red-700 hover:text-white' %>

    <% if @levels.length %>
      <div class='p-3 bg-white rounded-md shadow flex flex-col'>
        <% @levels.each do |lv| %>
          <% if @selected_level.id.to_s == lv.id.to_s %>
            <%= link_to t("common.#{lv.name}"), 'javascript:;', class: "py-1 px-3 rounded-md bg-red-700 text-white" %>
          <% else %>
            <%= link_to t("common.#{lv.name}"), managers_people_path(level_id: lv.id), class: "py-1 px-3 rounded-md" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class='p-3 bg-white rounded-md shadow flex flex-col'>
      <div class='font-bold mb-2'><%= t('.manager') %></div>
      <% @managers.each do |man| %>
        <%= link_to man.person.fullname, managers_person_path(id: man.person) %>
      <% end %>
    </div>
  </div>
</div>
