<div class='flex flex-col-reverse md:flex-row space-y-reverse space-y-2 space-x-0 md:space-y-0 md:space-x-2'>
  <div class='w-full md:w-8/12 flex-none'>
    <div class='shadow bg-white rounded-md py-3 px-4 flex flex-col space-y-2 items-start'>
      <% if @people.any? %>
        <div class='py-1 px-3 border border-gray-400 rounded-md'><%= t('.count', count: @people.length) %></div>
        <div class='w-full'>
          <%= render @people %>
        </div>
      <% else %>
        <div class='grid place-items-center w-full'>
          <%= t('common.empty') %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='w-full md:w-4/12 flex-auto flex flex-col space-y-2'>
    <div class='p-3 bg-white rounded-md shadow flex flex-col'>
      <div class='font-bold mb-2'><%= t('.manager') %></div>
      <% @managers.each do |man| %>
        <%= link_to man.person.fullname, managers_person_path(id: man.person) %>
      <% end %>
    </div>

    <% if @presence %>
      <div class='group flex flex-row items-center justify-between px-3 py-2 border border-gray-300 hover:border-gray-600 duration-200 rounded-md'>
        <div class='text-gray-700 group-hover:text-gray-900'><%= l(@presence.created_at.to_date, format: :default) %></div>
        <div class='flex flex-row items-center space-x-1'>
          <%= link_to edit_managers_people_presence_path(id: @presence), class: 'p-1 bg-red-700 text-white rounded-md text-center flex-none' do %>
            <%= heroicon 'pencil', options: { class: 'w-5 h-5' } %>
          <% end %>
          <%= link_to managers_level_people_presences_path(level_id: @selected_level), class: 'p-1 bg-white text-gray-700 rounded-md text-center flex-none' do %>
            <%= heroicon 'view-list', options: { class: 'w-5 h-5' } %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class='group flex flex-row items-center justify-between px-3 py-2 border border-gray-300 hover:border-gray-600 duration-200 rounded-md'>
        <div class='text-gray-700 group-hover:text-gray-900'><%= t('.people_presence') %></div>
        <div class='flex flex-row items-center space-x-1'>
          <%= link_to new_managers_people_presence_path(level_id: @selected_level), class: 'bg-red-700 text-white rounded-md text-center flex-none' do %>
            <%= heroicon 'plus', options: { class: 'w-7 h-7' } %>
          <% end %>
          <%= link_to managers_level_people_presences_path(level_id: @selected_level), class: 'p-1 bg-white text-gray-700 rounded-md text-center flex-none' do %>
            <%= heroicon 'view-list', options: { class: 'w-5 h-5' } %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @selected_level.active_score && @selected_level.active_score.score_cells.any? %>
      <%= link_to t('.score_table'), managers_score_path(id: @selected_level.active_score.id), class: 'py-2 border border-red-700 text-red-700 rounded-md text-center hover:bg-red-700 hover:text-white' %>
    <% end %>

    <% if @levels.length > 1 %>
      <div class='p-3 bg-white rounded-md shadow flex flex-col'>
        <% @levels.each do |lv| %>
          <% if @selected_level.id.to_s == lv.id.to_s %>
            <%= link_to t("common.#{lv.name}"), 'javascript:;', class: "py-1 px-3 rounded-md bg-red-700 text-white" %>
          <% else %>
            <%= link_to t("common.#{lv.name}"), managers_people_path(level_id: lv.id), class: "py-1 px-3 rounded-md" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
