<div class="flex flex-col space-y-2">
  <div class='flex flex-row justify-between items-center'>
    <div class='text-xl'><%= t('common.information') %></div>
    <div class='flex flex-row space-x-1 items-center'>
      <% unless @person.phone.blank? %>
        <%= link_to "tel:#{Phonelib.parse(@person.phone)}", class: 'rounded-md py-1 px-3 bg-red-700 text-white flex flex-row items-center space-x-2' do %>
          <%= heroicon "phone-outgoing", options: { class: 'w-5 h-5' } %>
          <div class='whitespace-nowrap hidden lg:inline-block'>
            <%= t('common.call_phone') %>
          </div>
        <% end %>
      <% end %>
      <% if can? :update, @person %>
        <%= link_to edit_managers_person_path(id: @person.id), class: 'rounded-md py-1 px-3 bg-gray-300 text-white flex flex-row items-center space-x-2' do %>
          <%= heroicon 'pencil-alt', options: { class: 'w-5 h-5 text-gray-700' } %>
          <div class='whitespace-nowrap hidden lg:inline-block text-gray-700'>
            <%= t('common.actions.edit') %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='p-3 md:p-4 shadow rounded-md relative bg-white'>
    <div class='flex flex-col space-y-4 items-stretch'>
      <div class='flex flex-col space-y-1'>
        <div>
          <span class='text-gray-600'><%= Person.human_attribute_name(:christain_name) %>:</span>
          <span class='ml-2 font-bold'><%= @person.christain_name %></span>
        </div>
        <div>
          <span class='text-gray-600'><%= Person.human_attribute_name(:fullname) %>:</span>
          <span class='ml-2 font-bold'><%= @person.fullname.upcase %></span>
        </div>
        <div>
          <span class='text-gray-600'><%= Person.human_attribute_name(:phone) %>:</span>
          <span class='ml-2 font-bold'><%= @person&.phone %></span>
        </div>
        <div>
          <span class='text-gray-600'><%= Person.human_attribute_name(:gender) %>:</span>
          <span class='ml-2 font-bold'><%= t("common.#{@person.gender}") %></span>
        </div>
        <div>
          <span class='text-gray-600'><%= Person.human_attribute_name(:feastday) %>:</span>
          <span class='ml-2 font-bold'><%= @person.feastday.presence && l(@person.feastday, format: :day_n_month) %></span>
        </div>
        <div>
          <span class='text-gray-600'><%= Person.human_attribute_name(:address) %>:</span>
          <span class='ml-2 font-bold'><%= @person.address %></span>
        </div>
        <div>
          <span class='text-gray-600'><%= t('common.class') %>:</span>
          <span class='ml-2 font-bold'><%= t("common.#{@person.level.name}") %></span>
        </div>
      </div>

      <% if @person.parents.any? %>
        <div class='flex flex-col space-y-1'>
          <div class='text-lg md:text-2xl font-bold'><%= t('common.parents') %></div>
          <hr>
          <% @person.parent_relationships.each do |relationship| %>
            <div class='border border-gray-200 rounded-md flex flex-row justify-between items-stretch p-2'>
              <div class='flex flex-col lg:flex-row lg:items-center lg:space-x-1 flex-auto'>
                <div class='text-md'><%= t("common.#{relationship.relationship}") %></div>
                <div class='font-bold uppercase'><%= relationship.parent.fullname %></div>
              </div>
              <% if relationship.parent.phone %>
                <%= link_to 'javascript:;', class: 'bg-red-700 flex flex-row items-center lg:space-x-1 rounded-md flex-none px-2 lg:py-1' do %>
                  <%= heroicon "phone-outgoing", options: { class: 'w-5 h-5 text-white' } %>
                  <div class='text-white whitespace-nowrap hidden lg:inline-block'>
                    <%= t('common.call_phone') %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
