<div data-controller='modal'>
  <div data-action="click->modal#show" class='btn bg-gray-300'>
    <%= heroicon 'download', options: { class: 'w-7 h-7' } %>
    <div>Export</div>
  </div>
  <div data-modal-target='modalElement' data-action="click->modal#hide" class='hidden top-0 left-0 bg-gray-500 bg-opacity-70 w-screen h-screen grid place-items-center'>
    <div class='bg-white p-3 rounded-md box-border md:w-2/3'>
      <%= form_tag export_admin_people_path do %>
        <%= hidden_field_tag :level_ids, params[:level_ids], multiple: true %>
        <%= hidden_field_tag :active, params[:active] %>

        <div class='my-2 flex flex-col space-y-2'>
          <%= label_tag :filename %>
          <%= text_field_tag :filename, 'Danh sách thiếu nhi', class: 'w-full rounded-md focus:ring-0 border border-gray-300 focus:border-gray-700' %>
        </div>

        <div class='my-2'>
          <table class='w-full'>
            <tr>
              <th class='border text-center p-1'>STT</th>
              <th class='border text-left p-1'>Tên Thánh</th>
              <th class='border text-left p-1'>Họ và Tên</th>
              <th class='border p-1'>Lớp</th>
              <th class='border p-1'>Giới tính</th>
            </tr>
            <% @people.first(2).each_with_index do |person, index| %>
              <tr>
                <td class='border text-center p-1'><%= index + 1 %></td>
                <td class='border text-left p-1'><%= person.christain_name %></td>
                <td class='border text-left p-1'><%= person.fullname %></td>
                <td class='border p-1 text-center'><%= person.level&.name && t("common.#{person.level.name}") %></td>
                <td class='border p-1 text-center'><%= t("common.#{person.gender}") %></td>
              </tr>
            <% end %>
            <tr>
              <td class='border text-center p-1'>...</td>
              <td class='border text-left p-1'>...</td>
              <td class='border text-left p-1'>...</td>
              <td class='border p-1 text-center'>...</td>
              <td class='border p-1 text-center'>...</td>
            </tr>
          </table>
        </div>
        <button class='btn bg-indigo-400 text-white'>Submit</button>
      <% end %>
    </div>
  </div>
</div>
