<tr id="<%= dom_id(person) %>">
  <td>
    <%= link_to edit_admin_person_path(person), class: 'text-gray-800' do %>
      <%= person.christain_name %> <%= person.fullname %>
    <% end %>
  </td>
  <td class='text-center'><%= t "common.#{person.gender}" %></td>
  <td class='text-center'>
    <% if person.level.present? %>
      <%= t "common.#{person.level.name}" %>
    <% else %>
    -
    <% end %>
  </td>
  <td class='text-center'><%= l person.created_at.to_date, format: :default %></td>
  <td class='flex flex-row justify-center'>
    <%= render 'admin/people/active_toggle', person: person %>
  </td>
</tr>
