<tr class='group' id="<%= dom_id(person) %>">
  <td class="py-3 px-2 group-hover:bg-gray-200 duration-100">
    <%= check_box_tag 'person_ids[]', person.id, false, form: 'bulk_actions_admin_people' %>
  </td>
  <td class="py-3 px-2 group-hover:bg-gray-200 duration-100">
    <%= link_to edit_admin_person_path(person), class: 'text-gray-800' do %>
      <%= person.christain_name %> <%= person.fullname %>
    <% end %>
  </td>
  <td class='text-center py-3 px-2 group-hover:bg-gray-200 duration-100'><%= t "common.#{person.gender}" %></td>
  <td class='text-center py-3 px-2 group-hover:bg-gray-200 duration-100'>
    <% if person.level.present? %>
      <%= t "common.#{person.level.name}" %>
    <% else %>
    -
    <% end %>
  </td>
  <td class='text-center py-3 px-2 group-hover:bg-gray-200 duration-100'>
    <%= l person.created_at.to_date, format: :default %>
  </td>
  <td class='py-3 px-2 group-hover:bg-gray-200 duration-100'>
    <div class='flex flex-row justify-center'>
      <%= render 'admin/people/active_toggle', person: person %>
    </div>
  </td>
  <td class='flex flex-row justify-center py-3 px-2 group-hover:bg-gray-200 duration-100'>
    <%= link_to edit_admin_person_path(person), class: 'text-gray-800' do %>
      <%= heroicon 'pencil', options: { class: 'w-7 h-7' } %>
    <% end %>
    <% if current_user.id != person.user.id %>
      <%= link_to admin_person_path(person, redirect_url: request.fullpath), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-800' do %>
        <%= heroicon 'trash', options: { class: 'w-7 h-7' } %>
      <% end %>
    <% end %>
  </td>
</tr>
