<div class='p-3'>
  <div class="text-3xl">Con người</div>

  <div class="mt-4">
    <div class='flex flex-row items-center justify-between space-x-2'>
      <div class='flex flex-row items-center space-x-2'>
        <%= render 'admin/people/filter_button' %>
        <%= render 'admin/people/export' %>
      </div>
      <div class='flex flex-row items-center space-x-2'>
        <%= link_to new_admin_person_path, class: 'btn bg-blue-500 text-white' do %>
          <%= heroicon 'plus', options: { class: 'w-7 h-7' } %>
          <div>Thêm</div>
        <% end %>
        <%= form_tag bulk_actions_admin_people_path, id: 'bulk_actions_admin_people' do %>
          <button class='btn bg-gray-300' type='submit'>Bulk actions</button>
        <% end %>
        <%= button_to 'Refresh Feast', refreshes_feastyears_admin_people_path, class: 'btn bg-green-500 text-white' %>
      </div>
    </div>
  </div>

  <div class="mt-4"><div class='font-bold'>Số lượng: <%= @people.total_count %></div></div>

  <table class='w-full mt-4'>
    <tr>
      <th class='bg-gray-900 text-white'></th>
      <th class='text-left bg-gray-900 text-white px-3 py-1'>Tên thánh / Họ tên</th>
      <th class='bg-gray-900 text-white px-3 py-1'>Giới tính</th>
      <th class='bg-gray-900 text-white px-3 py-1'>Lớp</th>
      <th class='bg-gray-900 text-white px-3 py-1'>Tạo ngày</th>
      <th class='bg-gray-900 text-white px-3 py-1'>Tình trạng</th>
      <th class='bg-gray-900 text-white px-3 py-1'>Cập nhật</th>
    </tr>
    <%= render partial: 'admin/people/person', collection: @people, as: :person %>
  </table>
  <div class='text-center'>
    <%= paginate @people %>
  </div>

</div>
