<div class="flex-col items-stretch space-y-2">
  <div class='text-xl md:text-3xl font-bold'>
    <%= t('admin.dashboard') %>
  </div>
  <div class='flex flex-col md:flex-row items-stretch space-y-2 md:space-y-0 space-x-0 md:space-x-2'>
    <div class='bg-red-500 text-white shadow rounded-md w-full md:w-1/4 flex flex-col items-stretch divide-y divide-red-300'>
      <div class='flex flex-row items-end space-x-2 p-3'>
        <div class='text-5xl font-bold'><%= @seniors_n_juniors.length %></div>
        <div class='text-md'><%= t('admin.sr_jr_label') %></div>
      </div>
      <div class='flex flex-row justify-between items-center py-1 px-3'>
        <div class='text-sm'><%= t('admin.sr_jr_male') %></div>
        <div class='text-sm'><%= @seniors_n_juniors.select(&:male?).length %></div>
      </div>
      <div class='flex flex-row justify-between items-center py-1 px-3'>
        <div class='text-sm'><%= t('admin.sr_jr_female') %></div>
        <div class='text-sm'><%= @seniors_n_juniors.select(&:female?).length %></div>
      </div>
    </div>
  </div>
</div>
