<div class='flex flex-col-reverse lg:flex-row items-stretch w-full space-x-0 space-y-reverse space-y-3 lg:space-x-3 lg:space-y-0'>
  <div class='bg-white shadow rounded-md p-3 box-border w-full lg:w-2/3 flex-none'>
    <% @level.active_people.order_name_alphabel.each do |ps| %>
      <div class='flex flex-row items-center justify-between py-1 px-2 border border-opacity-0 border-gray-700 rounded-md my-1 hover:border-opacity-100 duration-500'>
        <div class='font-bold'><%= ps.fullname %></div>
        <div><%= @people_hash[ps.id].to_i %>/<%= @presences.length %></div>
      </div>
    <% end %>
  </div>
  <div class='bg-white shadow rounded-md p-2 box-border flex-auto flex flex-col space-y-3'>
    <% @presences.each do |presence| %>
      <div class='flex flex-row items-end justify-between bg-gray-300 bg-opacity-0 duration-500 hover:bg-opacity-100 p-2 rounded-md'>
        <div class='flex flex-col items-start'>
          <div class='text-sm'><%= l(presence.created_at.to_date, format: :default) %></div>
          <div class='font-bold'>
            <%= presence.user.person.fullname %>
          </div>
        </div>
        <div><%= presence.person_ids.length %>/<%= @level.active_people.length %></div>
      </div>
    <% end %>
  </div>
</div>
