<!DOCTYPE html>
<html>
  <head>
    <title>Admin site</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= turbo_frame_tag 'flash', class: 'fixed top-3 right-3 flex flex-col items-stretch space-y-2 z-50' %>
    <div class="flex flex-row items-stretch h-screen">
      <!-- Sidebar -->
      <%= render 'admin/sidebar' %>

      <div class="flex flex-col flex-auto items-stretch">
        <!-- Top -->
        <div class="flex-none h-10 border-b border-gray-200 flex flex-row items-center justify-between px-3">
          <div></div>
          <div>
            <%= link_to 'Update profile', edit_admin_profiles_path %>
          </div>
        </div>

        <div class="flex-auto relative overflow-auto">
          <div class="absolute top-0 left-0 w-full h-full">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
