<!DOCTYPE html>
<html>
  <head>
    <title>Giáo lý viên - Huynh trưởng</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="overflow-hidden">
    <div class='flex flex-col items-stretch h-screen'>
      <div class='flex-none h-10 bg-white'>
        <%= render 'share/admin_top_head' %>
      </div>
      <div class='flex-auto bg-white'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
