<!DOCTYPE html>
<html>
  <head>
    <title>Giáo lý viên - Huynh trưởng</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="overflow-hidden bg-gray-100">
    <div class='flex flex-row items-stretch h-screen w-screen'>
      <div class='flex-none w-56 bg-gray-800 text-white p-3'>
        <%= render 'people/small_card_info', person: current_user.person %>
        <div class='mt-7'>
          <%= render 'share/manager_sidebar' %>
        </div>
      </div>
      <div class='flex-auto bg-gray-200 relative'>
        <div class='absolute top-0 left-0 w-full h-full overflow-auto'>
          <%= render 'share/manager_header' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
